/*
Ich stehe unter
http://localhost:3000/ingredients.css 
bereit
**/

.ingredients-list {
  border-left: 5px solid salmon;
  line-height: 1.7;
}
::slotted(strong) {
  color: blue !important;
}
:host(my-ingredients) ol {
  background: red;
}
:host-context(article) ol {
  background: yellow;
}
:host-context(article):host(my-ingredients) ol {
  background: lightsalmon;
}
